/* ******* */
/* IMPORTS */
/* ******* */

	/* Import the sidemenu */
	@import 'sidemenu.css';

	/* Import the Font Aweseome CSS icons */
	@import 'font-awesome.css';
	
/* *********************** */
/* Standard CSS-Selektoren */
/* *********************** */

body {
	background: #4aa3df;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

a:hover {
	color: #E8534F;
}

h1 {
	margin: 0px;
	line-height: 40px;
	font-size: 35px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 2px #2980b9;
	color: white;
	text-align: left;
}

h2 {
	margin: 0px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 2px #2980b9;
	color: white;
	text-align: left;
}


/* ************* */
/* Tooltip cloud */
/* ************* */

#tooltip_cloud {
	display: none;
	position: absolute;
	min-width: 1px;
	min-height: 1px;
	max-width: 280px;
	font-size: 13px;
	color: #ffffff;
	text-align: left;
	line-height: 20px;
	margin: 0px;
	padding: 10px 15px;
	background: rgba( 0, 0, 0, 0.8 );
	border: 1px solid #000000;
	z-index: 9999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;		
	box-shadow: -1px 1px 5px rgba( 0, 0, 0, 0.4 );
	-moz-box-shadow: -1px 1px 5px rgba( 0, 0, 0, 0.4 );
	-webkit-box-shadow: -1px 1px 5px rgba( 0, 0, 0, 0.4 );
}

	#tooltip_cloud:after {
		position: absolute;
		content: '';			
		top: 100%;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -8px;			
		border-top: 8px solid rgba( 0, 0, 0, 0.8 );
		border-right: 8px solid transparent;
		border-left: 8px solid transparent;
	}
	
		.cloud_triangle:after {
			position: absolute;
			content: '';			
			top: 0% !important;
			left: 50%;
			width: 0;
			height: 0;
			margin-left: -8px;			
			border-top: 8px solid rgba( 0, 0, 0, 0.8 );
			border-right: 8px solid transparent;
			border-left: 8px solid transparent;
		}



/* ************* */
/* Button-Design */
/* ************* */

.button {
	position: relative;
	vertical-align: top;
	width: 200px;;
	height: 60px;
	margin: 10px;
	margin-top: 20px;
	margin-left: 0px;
	padding: 0;
	font-size: 22px;
	color: #f9d3d2;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #E8534F;
	border: 0;
	border-bottom: 2px solid #2a8bcc;
	border-radius: 5px;
	cursor: pointer;
	float: left;
}

.button:hover {
	color: #ffffff;
	-webkit-box-shadow: 1px 1px 7px 0px rgba(50, 50, 50, 0.62);
-moz-box-shadow:    1px 1px 7px 0px rgba(50, 50, 50, 0.62);
box-shadow:         1px 1px 7px 0px rgba(50, 50, 50, 0.62);
}

/* **************** */
/* ID's and Classes */
/* **************** */

#registerSuccess {
	width:30%;
}

#login {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	text-align: center;
	width: 30%;
}

.forgot_password {
	width: 100%;
	text-align: right;
	display: inline-block;
}

.error {
	color: #ff0000;
}

.content {
	float: left;
	display: inline-block;
	margin: 30px 0px 0px 30px;
	position: absolute;
	left: 130px;
}

/* *********************** */
/* Input + Password Fields */
/* *********************** */

input[type="text"], input[type="password"] {
	background: #70B9E9;
	width: 100%;
	height: 45px;
	display: block;
	margin: 2px;
	padding-left: 15px;
	min-width: 385px;
	font-family: sans-serif;
	font-size: 18px;
	border-radius: 5px;
	border: 0px;
}

/* ***** */
/* Table */
/* ***** */

.table {
	background: #70B9E9;
	min-width:1000px;
	margin: 20px 0px 20px 0px; 
	border-collapse: collapse;
	font-family: sans-serif;
	border: none;
}

.table th, .table td {
	box-shadow: inset 0 -1px rgba(0, 0, 0, 0.25), inset 0 1px
		rgba(0, 0, 0, 0.25);
}

.table th {
	font-weight: normal;
	padding: 0.7em 1em 0.7em 1.15em;
	color: #ffffff;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	font-size: 1.5em;
	text-align: left;
}

.table td {
	color: #ffffff;
	padding: 0.7em 1em 0.7em 1.15em;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
	font-size: 1.4em;
}

.table tr {
	background: #70B9E9;
	}
	
.table-hover tr {
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.table-hover tr:hover td {
	background: rgba(0, 0, 0, 0.1);
}

.table a {
	text-decoration: none;
	color: white;
}

.table a:hover {
	color: #E8534F;
}

/* *********** */
/* Menu Toggle */
/* *********** */

.menu_toggle {
	display: inline-block;
	position: fixed;
	top: 50%;
	left: 100px;
	width: 30px;
	height: 60px;
	text-align: center;
	margin: 0px;
	margin-top: -15px;
	padding: 0px;
	background: #e8534f;
	z-index: 999;
}
	

	.menu_toggle .fa {
		display: inline-block;
		font-size: 30px;
		color: #ffffff;
		line-height: 60px;
		vertical-align: middle;
		transition: all 350ms ease;
		-moz-transition: all 350ms ease;
		-webkit-transition: all 350ms ease;
		-o-transition: all 350ms ease;
	}
	
		.menu_toggle:hover {
			cursor: pointer;
		}

	.toggle_side {
		left: 0px;
	}

	.menu_hidden {
		display: none !important;
	}




